<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
	    <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <!-- Add cache control -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
    <rewrite>
      <outboundRules>
        <!-- Disable cache for html files -->
        <rule name="RewriteCacheControlForHTMLFiles" preCondition="FileEndsWithHtml">
          <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
          <action type="Rewrite" value="max-age=0" />
        </rule>
        <rule name="RewriteCacheControlForConfigJson" preCondition="ConfigJson">
          <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
          <action type="Rewrite" value="max-age=0, no-cache" />
        </rule>
        <rule name="Hide Server Response Header">
          <match serverVariable="RESPONSE_SERVER" pattern=".+" />
          <action type="Rewrite" />
        </rule>
        <preConditions>
          <preCondition name="FileEndsWithHtml">
            <add input="{REQUEST_FILENAME}" pattern="\.html$" />
          </preCondition>
          <preCondition name="ConfigJson">
            <add input="{REQUEST_FILENAME}" pattern="config\.json$" />
          </preCondition>
        </preConditions>
      </outboundRules>
      <!-- This must be improved - temporary workaround -->
      <rules>
        <rule name="Redirect ReleaseNote.html" stopProcessing="true">
          <match url="^(.*)ReleaseNote.html"/>
          <action type="Rewrite" url="/app/ReleaseNote.html" />
        </rule>
        <rule name="Redirect ReleaseNoteStyle.css" stopProcessing="true">
          <match url="^(.*)ReleaseNoteStyle.css"/>
          <action type="Rewrite" url="/app/ReleaseNoteStyle.css" />
        </rule>
        <!-- Add redirect to english version by default
               Note that in order to prevent browser to cache the index.html from the redirection,
               it looks like we need to redirect to the index.html file it self instead of just redirect to /en/ -->
        <rule name="Root Hit Redirect" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/app/en/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
